<div>
  <h1
    class="text-center position-absolute top-50 start-50 translate-middle"
    *ngIf="cart.length == 0"
  >
    Cart is Empty
  </h1>
  <div *ngIf="cart.length >= 1">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Product Price</th>
          <th scope="col">Product Image</th>
          <th scope="col">Quantity</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of cart">
          <th scope="row">{{ product.name }}</th>
          <td>{{ product.price }}</td>
          <td>
            <div class="img">
              <img class="w-75" [src]="product.image" alt="" />
            </div>
          </td>
          <td>
            <button (click)="increaseQtty(product.id)" class="btn">+</button>
            {{ product.quantity }}
            <button (click)="decreaseQtty(product.id)" class="btn">-</button>
          </td>
          <td>
            <button (click)="deleteProduct(product.id)" class="btn btn-danger">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="total-price text-end">
      <h3>Total is :{{ total }} {{ total ? "EGP" : "" }}</h3>
    </div>
  </div>
</div>
